//- Vendor libraries
script(src="vendor/jquery/jquery.min.js")

//- Bootstrap
script(src="vendor/bootstrap/bootstrap.min.js")

//- Magnific pop up
script(src="vendor/magnific-popup/jquery.magnific-popup.min.js")

//- Developer personal libraries
script(src="js/scripts.js")