//- Vendor libraries
link(rel="stylesheet" href="vendor/bootstrap/bootstrap.min.css")

//- Font awesome
//-link(rel="stylesheet" href="/vendor/font-awesome/fontawesome-all.min.css")
link(href="https://use.fontawesome.com/releases/v5.0.6/css/all.css" rel="stylesheet" )

//- Developer personal libraries
link(rel="stylesheet" href="css/styles.css")